extends ../layout

block content   
    input#hdnId(type="hidden",value="#{id}")
    div.row
        .block(style="padding-bottom: 20px;")
            .block-title
                .block-options.pull-right
                    button#btnSubmit.btnSubmit.btn.btn-primary.btn-sm(type='submit',onclick='save()',style='margin-left:5px;') Save
                h2 Schema
            form.form(action='#', method='post', onsubmit='return false;')
                .form-group
                    label Schema Title
                    div.row
                        div.col-md-6
                            input#txtSchemaName.form-control(type="text")
                            small(for='txtSchemaName',style='display:none;').text-danger Please enter schema name.
                .form-group
                    table.table.table-bordered#tableSchema
                        thead
                            tr  
                                th(style="width:30%")  Name
                                th(style="width:20%")  Type
                                th(style="width:20%")  Property
                                th(style="width:20%")  Note
                                th(style="width:10%")  Action
                        tbody  
                            tr 
                                td(colspan="5",align="center") 
                                    a#btnAddSchema(onclick="addSchema(this)", style="cursor: pointer;")
                                        i.fa.fa-plus
                                        | &nbsp;Add
                   
                    div    
                        small(for='tblSchema',style='display:none;').text-danger Please enter name.                        
                                    
                            
            div.clearfix
            fieldset
                legend
                    a.pull-right.collapsed(role="button",data-toggle="collapse",href="#collapseViewTemplate",aria-expanded="false",aria-controls="collapseViewTemplate")    
                        i.fa.fa-chevron-circle-right
                        i.fa.fa-chevron-circle-down
                    strong View Template
                div#collapseViewTemplate.panel-collapse.collapse(role="tabpanel",aria-labelledby="headingOne")
                    div.col-md-12
                        div#templateHtml  

            .row
                .col-lg-12
                    .pull-right
                        button#btnSubmit.btnSubmit.btn.btn-primary.btn-sm(type='submit',onclick='save()',style='margin-left:5px;') Save

    script#schema-template(type="text/html")
        tr
            td
                a(data-name="txtName")
            td
                a(data-name="ddlType")
            td
                a(data-placement='left', data-toggle='popover', data-title='Property', data-container='body', data-name="txtProperty")
                    i.fa.fa-edit
                        div#listProperty.pull-right(style="padding-left:10px; color:#333")
            td
                textarea#txtnotes.form-control(data-name="txtnotes",placeholder="Notes...",style="border-width: 0px;resize: none;padding: 0px;")
            td  
                span.text-danger(onclick="deleteSchemaRow(this)")
                    i.fa.fa-trash

    script#textProperty(type="text/html")
        form
            .row
                .col-md-12
                    .form-group
                        .input-group
                            .input-group-addon Max Length
                            input#txtMax.form-control(type='number', placeholder='Ex:100')
                    .form-group
                        .input-group
                            .input-group-addon Allowed Values
                            input#txtAllowedValue.form-control(type='text', placeholder='e.g. ["A","B"]')
                    .form-group
                        .input-group
                            .input-group-addon Default
                            input#txtdefault.form-control(type='text')
                    .form-group
                        .input-group
                            .input-group-addon Placeholder
                            input#txtPlaceholder.form-control(type='text')
                    .form-group
                        .input-group
                            .input-group-addon Helper Text
                            input#txtHelper.form-control(type='text')
                    .form-group
                        .input-group
                            .input-group-addon RegEx
                            input#txtRegEx.form-control(type='string', placeholder='Ex: /^[a-z0-9A-Z_]{3,15}$/')
                    .form-group
                        .checkbox
                        label
                            input#ckbSchemaOptional(type='checkbox', checked='')
                            |  optional
                    .form-group
                        button.btn.btn-default.pull-right(data-popoverdismiss='true', type='button', style='margin-left:3px;')
                            i.fa.fa-times
                        button#saveProperty.btn.btn-primary.pull-right(type='button')
                            i.fa.fa-check

    script#numberProperty(type="text/html")
        form
            .row
                .col-md-12
                    .form-group
                        .input-group
                            .input-group-addon Min Number
                            input#txtMin.form-control(type='number', placeholder='Ex:0')
                    .form-group
                        .input-group
                            .input-group-addon Max Number
                            input#txtMax.form-control(type='number', placeholder='Ex:100')
                    .form-group
                        .input-group
                            .input-group-addon Allowed Values
                            input#txtAllowedValue.form-control(type='text', placeholder='e.g. ["A","B"]')
                    .form-group
                        .input-group
                            .input-group-addon Default
                            input#txtdefault.form-control(type='text')
                    .form-group
                        .input-group
                            .input-group-addon Placeholder
                            input#txtPlaceholder.form-control(type='text')
                    .form-group
                        .input-group
                            .input-group-addon Helper Text
                            input#txtHelper.form-control(type='text')
                    .form-group
                        .checkbox
                        label
                            input#ckbSchemaOptional(type='checkbox', checked='')
                            |  optional
                    .form-group
                        button.btn.btn-default.pull-right(data-popoverdismiss='true', type='button', style='margin-left:3px;')
                            i.fa.fa-times
                        button#saveProperty.btn.btn-primary.pull-right(type='button')
                            i.fa.fa-check
    script#dateProperty(type="text/html")
        form
            .row
                .col-md-12
                    .form-group
                        .input-group
                            .input-group-addon Min Date
                            input#txtMinDate.form-control(type='date')
                    .form-group
                        .input-group
                            .input-group-addon Max Date
                            input#txtMaxDate.form-control(type='date')
                    .form-group
                        .input-group
                            .input-group-addon Default
                            input#txtdefault.form-control(type='date')
                    .form-group
                        .input-group
                            .input-group-addon Placeholder
                            input#txtPlaceholder.form-control(type='text')
                    .form-group
                        .input-group
                            .input-group-addon Helper Text
                            input#txtHelper.form-control(type='text')
                    .form-group
                        .checkbox
                        label
                            input#ckbSchemaOptional(type='checkbox', checked='')
                            |  optional
                    .form-group
                        button.btn.btn-default.pull-right(data-popoverdismiss='true', type='button', style='margin-left:3px;')
                            i.fa.fa-times
                        button#saveProperty.btn.btn-primary.pull-right(type='button')
                            i.fa.fa-check
    script#booleanProperty(type="text/html")
        form
            .row
                .col-md-12
                    .form-group
                        .input-group
                            .input-group-addon Default
                            select#txtdefault.form-control
                                option(value="") -- select --
                                option(value="true") True
                                option(value="false") False
                    .form-group
                        .input-group
                            .input-group-addon Placeholder
                            input#txtPlaceholder.form-control(type='text')
                    .form-group
                        .input-group
                            .input-group-addon Helper Text
                            input#txtHelper.form-control(type='text')
                    .form-group
                        .checkbox
                        label
                            input#ckbSchemaOptional(type='checkbox', checked='')
                            |  optional
                    .form-group
                        button.btn.btn-default.pull-right(data-popoverdismiss='true', type='button', style='margin-left:3px;')
                            i.fa.fa-times
                        button#saveProperty.btn.btn-primary.pull-right(type='button')
                            i.fa.fa-check
    script#arrayProperty(type="text/html")
        form
            .row
                .col-md-12
                    .form-group
                        .input-group
                            .input-group-addon Array
                            input#txtarray.form-control(type='text')
                    .form-group
                        .input-group
                            .input-group-addon Default
                            input#txtdefault.form-control(type='text')
                    .form-group
                        .input-group
                            .input-group-addon Placeholder
                            input#txtPlaceholder.form-control(type='text')
                    .form-group
                        .input-group
                            .input-group-addon Helper Text
                            input#txtHelper.form-control(type='text')
                    .form-group
                        .checkbox
                        label
                            input#ckbSchemaOptional(type='checkbox', checked='')
                            |  optional
                    .form-group
                        button.btn.btn-default.pull-right(data-popoverdismiss='true', type='button', style='margin-left:3px;')
                            i.fa.fa-times
                        button#saveProperty.btn.btn-primary.pull-right(type='button')
                            i.fa.fa-check

    script#schemaProperty(type="text/html")
        form
            .row
                .col-md-12
                    .form-group
                        .checkbox
                        label
                            input#ckbSchemaType(type='checkbox')
                            |  Is Array
                    .form-group
                        button.btn.btn-default.pull-right(data-popoverdismiss='true', type='button', style='margin-left:3px;')
                            i.fa.fa-times
                        button#saveProperty.btn.btn-primary.pull-right(type='button')
                            i.fa.fa-check
    
    script(src="/js/Schema/new.js")